body {
  margin: 0;
  padding: 2rem;
  background: linear-gradient(#000000, #747474);
  background-color: #000000;
  min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#container1 {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
    height: 500px;
    width: 500px;
    overflow: hidden;
    float: left;
 }
#container2 {
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
      height: 500px;
      width: 500px;
      overflow: hidden;
      float: left;
  }
#container3 {
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
      height: 500px;
      width: 500px;
      overflow: hidden;
      float: left;
  }
  img {
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  #info {
    font-family: 'Permanent Marker';
    font-size:xx-large;
    color: aliceblue;
  }
  #info2 {
    font-family: 'Permanent Marker';
    font-size:xx-large;
    color: aliceblue;
  }
  #info3 {
    font-family: 'Permanent Marker';
    font-size:xx-large;
    color: aliceblue;
  }
  #title {
    font-family: 'Permanent Marker';
    display: flex;
    font-size: 60px;
    color: aliceblue;
    justify-content: center;
  }
  #title:hover {
    text-shadow: red -3px 0, cyan 3px 0;
  }
  #info:hover {
    text-shadow: red -3px 0, cyan 3px 0;
  }
  #toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 5em;
    right: 5%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: #dbdbdb;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 30%;
    background-color: #000000;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  nav {
    text-align: left;
    margin-left: 35%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  nav a:hover {
    color: white;
  }
  nav a:hover:before {
    height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }