video {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 60%;
    object-fit: cover;
    overflow: hidden;
}

.clip-text-video_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    background: #000;
    mix-blend-mode: multiply;
    padding: 0%;

}

.clip-text-video_text p {
    font-size: 18vw;
    line-height: 0;
    font-weight: 500;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    
}
.button{
    display: flex;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    }
    .button:hover{
    color:#009639;
    border-color:#009639;
    }
    .button:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    }
    @media all and (max-width:30em){
    .button{
    display:block;
    margin:0.4em auto;
    }
    }