body{
    margin: 0;
    background: linear-gradient(#000000, #ffffff) no-repeat;
    background-color: #494949;
    min-height: 100vh;
    
}
div.container{
    background-color: rgba(225, 225, 225, 0.2);
    width: 400px;
    min-height: 300px;
    border: 5px #5c5c5c;
    border-radius: 25px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    display: block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(78, 78, 78);
    font-size: large;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 5px;
    border-radius: 25px;
    opacity: 80%;
}
p {
    font-size: xxx-large;
    font-family: "Permanent Marker", Georgia, 'Times New Roman', Times, serif;
}
  /*shadow glitch effect*/
  p:hover {
    text-shadow: red -3px 0, cyan 3px 0;
  }

input {
  accent-color: cyan;
}
input + span {
    position: relative;
  }
  
  input + span::before {
    position: absolute;
    right: -20px;
    top: 5px;
  }
  
  input:invalid {
    border: 2px solid red;
  }
  
  input:invalid + span::before {
    content: "✖";
    color: red;
  }
  
  input:valid + span::before {
    content: "✓";
    color:cyan;
  }

  #submitbutton{
    display: center;
    padding:0.5em 3em;
    border:0.16em solid #919191;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#383838;
    text-align:center;
    transition: all 0.15s;
    }
    #submitbutton:hover{
    color:rgb(0, 199, 199);
    border-color:cyan;
    }
    #submitbutton:active{
    color:#383838;
    border-color:#BBBBBB;
    }
    @media all and (max-width:30em){
    #submitbutton{
    display:block;
    margin:0.4em auto;
    }
    }

    #toggle {
      display: none;
    }
    
    /**
      Hamburger
    **/
    .hamburger {
      position: absolute;
      top: 5em;
      right: 5%;
      margin-left: -2em;
      margin-top: -45px;
      width: 2em;
      height: 45px;
      z-index: 5;
    }
    
    .hamburger div {
      position: relative;
      width: 3em;
      height: 7px;
      border-radius: 3px;
      background-color: #dbdbdb;
      margin-top: 8px;
      transition: all 0.3s ease-in-out;
    }
    
    /**
    Nav Styles
    **/
    .nav {
      position: fixed;
      width: 100%;
      height:30%;
      background-color: #474747;
      top: -100%; left: 0; right: 0; bottom: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      transform: scale(0);
    }
    .nav-wrapper {
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      height: 100%;
    }
    nav {
      text-align: left;
      margin-left: 25%;
      font-family: 'Permanent Marker';
    }
    nav a {
      position: relative;
      text-decoration: none;
      color: #ffffff;
      font-size: 2em;
      display: inline-block;
      margin-top: 1.25em;
      transition: color 0.2s ease-in-out;
      letter-spacing: 1px;
    }
    nav a:before {
      content: '';
      height: 0;
      position: absolute;
      width: 0.25em;
      background-color: white;
      left: -0.5em;
      transition: all 0.2s ease-in-out;
    }
    nav a:hover {
      color: white;
    }
    nav a:hover:before {
      height: 100%;
    }
    
    /**
    Animations
    **/
    #toggle:checked + .hamburger .top-bun {
      transform: rotate(-45deg);
      margin-top: 25px;
    }
    #toggle:checked + .hamburger .bottom-bun {
      opacity: 0;
      transform: rotate(45deg);
    }
    #toggle:checked + .hamburger .meat {
      transform: rotate(45deg);
      margin-top: -7px;
    }
    
    #toggle:checked + .hamburger + .nav {
      top: 0;
      transform: scale(1);
    }